<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="AirCNC: ravel and Relax!">
        <meta name="author" content="Reynaldo Sia Jr.">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://kit.fontawesome.com/2228eed549.js" crossorigin="anonymous"></script>
        <!-- Used Roboto font from Google font website -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>

        {{{ body }}}

    </body>
</html>